#### Задание к теме «Гибридные рекомендательные системы»


Датасет ml-latest  
Вспомнить подходы, которые мы разбирали  
Выбрать понравившийся подход к гибридным системам  
Написать свою

In [1]:
import pandas as pd
import numpy as np

from sklearn.feature_extraction.text import TfidfTransformer, TfidfVectorizer, CountVectorizer
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import NearestNeighbors
from sklearn.model_selection import train_test_split

from scipy.spatial.distance import correlation

from surprise import Dataset
from surprise import accuracy
from surprise import Reader
from surprise.model_selection import train_test_split
from surprise import SVD


from tqdm.notebook import tqdm

%matplotlib inline

import warnings
warnings.filterwarnings('ignore')

In [2]:
movies = pd.read_csv(r'C:\Users\Urmas\Desktop\Digital\НЕТОЛОГИЯ. ПРОФЕССИЯ DATA SCIENTIST\Рекомендательные системы\Рекомендации на основе содержания\movies.csv')
ratings = pd.read_csv(r'C:\Users\Urmas\Desktop\Digital\НЕТОЛОГИЯ. ПРОФЕССИЯ DATA SCIENTIST\Рекомендательные системы\Рекомендации на основе содержания\ratings.csv')
tags = pd.read_csv(r'C:\Users\Urmas\Desktop\Digital\НЕТОЛОГИЯ. ПРОФЕССИЯ DATA SCIENTIST\Рекомендательные системы\Рекомендации на основе содержания\tags.csv')

In [3]:
data1 = movies.join(ratings.set_index('movieId'), on='movieId').reset_index(drop=True)
data1.dropna(inplace=True)
data1.head()

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1.0,4.0,9.649827e+08
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5.0,4.0,8.474350e+08
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7.0,4.5,1.106636e+09
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15.0,2.5,1.510578e+09
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,17.0,4.5,1.305696e+09

In [4]:
data2 = data1.merge(tags.set_index('movieId'), on='movieId').reset_index(drop=True)
data2.dropna(inplace=True)
# lsuffix='_left', rsuffix='_right'
data2 = data2.drop('timestamp_y', axis=1)[['movieId', 'title', 'genres', 'tag', 
                                           'userId_x', 'rating', 'timestamp_x']]
data2.head()

,movieId,title,genres,tag,userId_x,rating,timestamp_x
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,pixar,1.0,4.0,964982703.0
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,pixar,1.0,4.0,964982703.0
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,fun,1.0,4.0,964982703.0
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,pixar,5.0,4.0,847434962.0
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,pixar,5.0,4.0,847434962.0

In [5]:
data2['genres'] = data2['genres'].apply(lambda x: ' '.join(x.lower().replace(' ', '').replace('-', '').split('|')))
data2.head()

,movieId,title,genres,tag,userId_x,rating,timestamp_x
0,1,Toy Story (1995),adventure animation children comedy fantasy,pixar,1.0,4.0,964982703.0
1,1,Toy Story (1995),adventure animation children comedy fantasy,pixar,1.0,4.0,964982703.0
2,1,Toy Story (1995),adventure animation children comedy fantasy,fun,1.0,4.0,964982703.0
3,1,Toy Story (1995),adventure animation children comedy fantasy,pixar,5.0,4.0,847434962.0
4,1,Toy Story (1995),adventure animation children comedy fantasy,pixar,5.0,4.0,847434962.0

In [6]:
tegi = {}     # соберем теги и их частотность
a = data2.tag.values.tolist()
for i in data2.tag.unique():
    tegi[i]=a.count(i)
tegi['pixar']

430

In [7]:
small_tag = []      # соберем частоповторяющиеся теги
for i, j in tegi.items():
    if j > 1000:
        small_tag.append(i)

In [8]:
data2['tag'] = data2['tag'].apply(lambda x: 'other' if x in small_tag else (x.lower().replace(' ', '').replace('-', '')))
data2.head()

,movieId,title,genres,tag,userId_x,rating,timestamp_x
0,1,Toy Story (1995),adventure animation children comedy fantasy,pixar,1.0,4.0,964982703.0
1,1,Toy Story (1995),adventure animation children comedy fantasy,pixar,1.0,4.0,964982703.0
2,1,Toy Story (1995),adventure animation children comedy fantasy,fun,1.0,4.0,964982703.0
3,1,Toy Story (1995),adventure animation children comedy fantasy,pixar,5.0,4.0,847434962.0
4,1,Toy Story (1995),adventure animation children comedy fantasy,pixar,5.0,4.0,847434962.0

In [9]:
# соберем для каждого фильма все его жанры

#data2['genres'] = data2['movieId'].apply(lambda x: ' '.join(data2.groupby('movieId').genres.unique())[x])  # долго грузится

Genre = {}
for title, group in tqdm(data2.groupby('movieId')):
    Genre[title] = ' '.join(group.genres.unique())

data2['genres'] = data2['movieId'].apply(lambda x: Genre[x])


data2.head()

HBox(children=(FloatProgress(value=0.0, max=1554.0), HTML(value='')))

,movieId,title,genres,tag,userId_x,rating,timestamp_x
0,1,Toy Story (1995),adventure animation children comedy fantasy,pixar,1.0,4.0,964982703.0
1,1,Toy Story (1995),adventure animation children comedy fantasy,pixar,1.0,4.0,964982703.0
2,1,Toy Story (1995),adventure animation children comedy fantasy,fun,1.0,4.0,964982703.0
3,1,Toy Story (1995),adventure animation children comedy fantasy,pixar,5.0,4.0,847434962.0
4,1,Toy Story (1995),adventure animation children comedy fantasy,pixar,5.0,4.0,847434962.0

In [10]:
# соберем для каждого фильма все его теги
Tag = {}
for title, group in tqdm(data2.groupby('movieId')):
    Tag[title] = ' '.join(group.tag.unique())

data2['tag'] = data2['movieId'].apply(lambda x: Tag[x])


data2.head()

HBox(children=(FloatProgress(value=0.0, max=1554.0), HTML(value='')))

,movieId,title,genres,tag,userId_x,rating,timestamp_x
0,1,Toy Story (1995),adventure animation children comedy fantasy,pixar fun,1.0,4.0,964982703.0
1,1,Toy Story (1995),adventure animation children comedy fantasy,pixar fun,1.0,4.0,964982703.0
2,1,Toy Story (1995),adventure animation children comedy fantasy,pixar fun,1.0,4.0,964982703.0
3,1,Toy Story (1995),adventure animation children comedy fantasy,pixar fun,5.0,4.0,847434962.0
4,1,Toy Story (1995),adventure animation children comedy fantasy,pixar fun,5.0,4.0,847434962.0

In [11]:
# удалим дубликаты

data2 = data2.drop_duplicates(subset=['movieId', 'userId_x'], keep='first').reset_index(drop=True)
data2.head()

,movieId,title,genres,tag,userId_x,rating,timestamp_x
0,1,Toy Story (1995),adventure animation children comedy fantasy,pixar fun,1.0,4.0,9.649827e+08
1,1,Toy Story (1995),adventure animation children comedy fantasy,pixar fun,5.0,4.0,8.474350e+08
2,1,Toy Story (1995),adventure animation children comedy fantasy,pixar fun,7.0,4.5,1.106636e+09
3,1,Toy Story (1995),adventure animation children comedy fantasy,pixar fun,15.0,2.5,1.510578e+09
4,1,Toy Story (1995),adventure animation children comedy fantasy,pixar fun,17.0,4.5,1.305696e+09

In [12]:
# добавим оценки (фичи)

mean_film = {}   # средняя оценка за фильм
for title, group in tqdm(data2.groupby('movieId')):
    mean_film[title] = group.rating.mean()
    
mean_rating_user = {}  # средняя оценка пользователя
for title, group in tqdm(data2.groupby('userId_x')):
    mean_rating_user[title] = group.rating.mean()

HBox(children=(FloatProgress(value=0.0, max=1554.0), HTML(value='')))

HBox(children=(FloatProgress(value=0.0, max=610.0), HTML(value='')))

In [13]:
# количество рейтингов по каждому фильму
num_rating = {}

for i, j in data2.groupby('movieId'):
    num_rating[i] = j.userId_x.unique().shape[0]
    
# выведем статистику по количеству рейтингов
min_num_rating = np.min([num_rating[i] for i in num_rating.keys()])
max_num_rating = np.max(([num_rating[i] for i in num_rating.keys()]))
mean_num_rating = np.mean(([num_rating[i] for i in num_rating.keys()]))
min_num_rating, max_num_rating, mean_num_rating

(1, 329, 31.072715572715573)

In [14]:
# выведем искомую статистику по каждому фильму (средний рейтинг в соответствии с размерностью рейтинга)
score_film = {}

for i in num_rating.keys():
    score_film[i] = mean_film[i] * (num_rating[i] - min_num_rating) /  (max_num_rating - min_num_rating)
    #score_film[i] = (mean_film[i]  - min_num_rating) /  (max_num_rating - min_num_rating)

In [15]:
# количество кликов по каждому пользователю
num_click = {}

for i, j in data2.groupby('userId_x'):
    num_click[i] = j.movieId.unique().shape[0]
    
# выведем статистику по количеству кликов пользователя
min_num_click = np.min([num_click[i] for i in num_click.keys()])
max_num_click = np.max(([num_click[i] for i in num_click.keys()]))
mean_num_click = np.mean(([num_click[i] for i in num_click.keys()]))
min_num_click, max_num_click, mean_num_click

(4, 1198, 79.15901639344263)

In [16]:
# выведем искомую статистику по каждому пользователю (в соответствии с размерностью кликов)
score_user = {}

for i in num_click.keys():
    score_user[i] = mean_rating_user[i] * (num_click[i] - min_num_click) /  (max_num_click - min_num_click)
    #score_user[i] = (mean_rating_user[i]  - min_num_click) /  (max_num_click - min_num_click)

In [17]:
data2['score_film'] = data2['movieId'].apply(lambda x: score_film[x])
data2['score_user'] = data2['userId_x'].apply(lambda x: score_user[x])
data2.head()

,movieId,title,genres,tag,userId_x,rating,timestamp_x,score_film,score_user
0,1,Toy Story (1995),adventure animation children comedy fantasy,pixar fun,1.0,4.0,9.649827e+08,2.558168,0.405683
1,1,Toy Story (1995),adventure animation children comedy fantasy,pixar fun,5.0,4.0,8.474350e+08,2.558168,0.109737
2,1,Toy Story (1995),adventure animation children comedy fantasy,pixar fun,7.0,4.5,1.106636e+09,2.558168,0.258228
3,1,Toy Story (1995),adventure animation children comedy fantasy,pixar fun,15.0,2.5,1.510578e+09,2.558168,0.226759
4,1,Toy Story (1995),adventure animation children comedy fantasy,pixar fun,17.0,4.5,1.305696e+09,2.558168,0.293872

In [18]:
# Tfidf
tfidf1 = TfidfVectorizer()   # for genres
tfidf2 = TfidfVectorizer()   # for tag

In [19]:
tfidf1.fit([' '.join(data2['genres'])])
tfidf2.fit([' '.join(data2['tag'])])

TfidfVectorizer()

In [20]:
data2['genres'] = data2['genres'].apply(lambda x: tfidf1.transform([x]).toarray())
data2['tag'] = data2['tag'].apply(lambda x: tfidf2.transform([x]).toarray())
data2.head()

,movieId,title,genres,tag,userId_x,rating,timestamp_x,score_film,score_user
0,1,Toy Story (1995),"[[0.0, 0.4472135954999579, 0.4472135954999579,...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",1.0,4.0,9.649827e+08,2.558168,0.405683
1,1,Toy Story (1995),"[[0.0, 0.4472135954999579, 0.4472135954999579,...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",5.0,4.0,8.474350e+08,2.558168,0.109737
2,1,Toy Story (1995),"[[0.0, 0.4472135954999579, 0.4472135954999579,...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",7.0,4.5,1.106636e+09,2.558168,0.258228
3,1,Toy Story (1995),"[[0.0, 0.4472135954999579, 0.4472135954999579,...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",15.0,2.5,1.510578e+09,2.558168,0.226759
4,1,Toy Story (1995),"[[0.0, 0.4472135954999579, 0.4472135954999579,...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",17.0,4.5,1.305696e+09,2.558168,0.293872

In [21]:
data2.sort_values('timestamp_x', ascending=False, inplace=True)
data2 = data2.reset_index(drop=True)
data2.head()

,movieId,title,genres,tag,userId_x,rating,timestamp_x,score_film,score_user
0,162,Crumb (1994),"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0,...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",514.0,4.0,1.537799e+09,0.205165,0.576447
1,187595,Solo: A Star Wars Story (2018),"[[0.5, 0.5, 0.0, 0.5, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",514.0,3.0,1.537675e+09,0.047561,0.576447
2,180031,The Shape of Water (2017),"[[0.0, 0.5773502691896258, 0.0, 0.0, 0.0, 0.0,...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",210.0,4.0,1.537650e+09,0.078697,0.153249
3,122916,Thor: Ragnarok (2017),"[[0.5773502691896258, 0.5773502691896258, 0.0,...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",210.0,4.5,1.537632e+09,0.233155,0.153249
4,148626,"Big Short, The (2015)","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0,...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",272.0,4.5,1.537471e+09,0.301947,0.047906

In [22]:
tfidf_data = []
for i, j in data2.iterrows():
    tfidf_data.append(np.insert(np.hstack((j[2], j[3])), [0,0,0], [j[5], j[7], j[8]]).tolist())
tfidf_data = np.array(tfidf_data)
tfidf_data

array([[4.        , 0.20516499, 0.57644681, ..., 0.        , 0.        ,
        0.        ],
       [3.        , 0.04756098, 0.57644681, ..., 0.        , 0.        ,
        0.        ],
       [4.        , 0.07869665, 0.15324851, ..., 0.        , 0.        ,
        0.        ],
       ...,
       [4.        , 0.10759654, 0.0759799 , ..., 0.        , 0.        ,
        0.        ],
       [4.        , 0.1714939 , 0.0759799 , ..., 0.        , 0.        ,
        0.        ],
       [5.        , 1.66685809, 0.0759799 , ..., 0.        , 0.        ,
        0.        ]])

In [23]:
complexs_data = []
for i, j in data2.iterrows():
    complexs_data.append(np.insert(np.hstack((j[2], j[3])), [0,0,0], [j[5], j[7], j[8]]).tolist())
complexs_data = np.array(complexs_data)
complexs_data

array([[4.        , 0.20516499, 0.57644681, ..., 0.        , 0.        ,
        0.        ],
       [3.        , 0.04756098, 0.57644681, ..., 0.        , 0.        ,
        0.        ],
       [4.        , 0.07869665, 0.15324851, ..., 0.        , 0.        ,
        0.        ],
       ...,
       [4.        , 0.10759654, 0.0759799 , ..., 0.        , 0.        ,
        0.        ],
       [4.        , 0.1714939 , 0.0759799 , ..., 0.        , 0.        ,
        0.        ],
       [5.        , 1.66685809, 0.0759799 , ..., 0.        , 0.        ,
        0.        ]])

In [24]:
user = 1

data_user = data2[data2.userId_x == user].reset_index(drop=True)   # датасет для пользователя
data_user.head()

,movieId,title,genres,tag,userId_x,rating,timestamp_x,score_film,score_user
0,780,Independence Day (a.k.a. ID4) (1996),"[[0.5, 0.5, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",1.0,3.0,964984086.0,2.111447,0.405683
1,1090,Platoon (1986),"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.7071067...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",1.0,4.0,964984018.0,0.753097,0.405683
2,1224,Henry V (1989),"[[0.5, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.5, 0.0,...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",1.0,5.0,964984018.0,0.219512,0.405683
3,527,Schindler's List (1993),"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.7071067...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",1.0,5.0,964984002.0,2.820960,0.405683
4,3147,"Green Mile, The (1999)","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.7071067811865475,...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",1.0,5.0,964983873.0,1.391315,0.405683

In [25]:
complexs_user = []
for i, j in data_user.iterrows():
    complexs_user.append(np.insert(np.hstack((j[2], j[3])), [0,0,0], [j[5], j[7], j[8]]).tolist())
complexs_user = np.array(complexs_user)
complexs_user

array([[3.        , 2.11144651, 0.40568339, ..., 0.        , 0.        ,
        0.        ],
       [4.        , 0.75309717, 0.40568339, ..., 0.        , 0.        ,
        0.        ],
       [5.        , 0.2195122 , 0.40568339, ..., 0.        , 0.        ,
        0.        ],
       ...,
       [5.        , 2.02915172, 0.40568339, ..., 0.        , 0.        ,
        0.        ],
       [4.        , 1.31674652, 0.40568339, ..., 0.        , 0.        ,
        0.        ],
       [5.        , 2.45994587, 0.40568339, ..., 0.        , 0.        ,
        0.        ]])

In [26]:
dataset = pd.DataFrame({
    'uid': data2.userId_x,
    'iid': data2.title,
    'rating': data2.rating
})

In [27]:
reader = Reader(rating_scale=(0.5, 5.0))
data = Dataset.load_from_df(dataset, reader)

In [28]:
trainset, testset = train_test_split(data, test_size=.15, random_state=42)

In [29]:
%%time
algo = SVD(n_factors=20, n_epochs=20)
algo.fit(trainset)

Wall time: 789 ms

In [30]:
test_pred = algo.test(testset)

In [31]:
accuracy.rmse(test_pred, verbose=True)

RMSE: 0.8278

0.8277925634835079

In [32]:
sco = []
tit = []
f = {}

for m in data2.title.unique():
    if m in data_user.title.unique().tolist():
        continue
        
    sco.append(algo.predict(uid=user, iid=m).est)
    tit.append(m)

best = np.argsort(sco)[-10:]
for i in reversed(best):
    f[tit[i]] = sco[i]

f

#r = {}
#b_i = np.argsort(sco)[:10]
#b_m = [(tit[i], sco[i]) for i in b_i]
#for i in b_m:
    #r[i[0]] = i[1] 
#r

{'Casablanca (1942)': 5.0,
 'Godfather, The (1972)': 5.0,
 'Ran (1985)': 5.0,
 'Lawrence of Arabia (1962)': 5.0,
 'Shawshank Redemption, The (1994)': 5.0,
 'Great Escape, The (1963)': 5.0,
 'Philadelphia Story, The (1940)': 5.0,
 'Cool Hand Luke (1967)': 4.97587349008514,
 'Rear Window (1954)': 4.971774814589966,
 'In the Name of the Father (1993)': 4.9701306130552005}

In [33]:
if np.max(data_user.rating.unique().tolist()) >= 4.0:
    user_films = data_user.sort_values('rating', ascending=False).head(3).title.tolist()   # три лучших фильма у пользователя
else:
    user_films = []

In [34]:
user_films

['Who Framed Roger Rabbit? (1988)',
 'Jungle Book, The (1967)',
 'Fugitive, The (1993)']

In [35]:
if len(user_films) == 0:
    film = {}

else:
    mov_score = np.array([])
    for i in range(len(user_films)):
        index = data_user[data_user.title == user_films[i]].index.item()
        test = complexs_user[index].reshape(1,-1)
                
        neigh = NearestNeighbors(n_neighbors=20, n_jobs=-1, metric='euclidean')
        neigh.fit(complexs_data)
        res = neigh.kneighbors(test, return_distance=True)
        mov_score = np.concatenate((mov_score, data2.iloc[res[1][0]].title.unique()), axis=0)

    scores = []
    titles = []

    for mov in mov_score:
        if mov in data_user.title.unique():
            continue
        scores.append(algo.predict(uid=user, iid=mov).est)
        titles.append(mov)

    film = {}
    
    #best_i = np.argsort(scores)[-10:]
    #for i in reversed(best_i):
        #film[titles[i]] = scores[i]
    
    best_i = np.argsort(scores)[:10]
    best_m = [(titles[i], scores[i]) for i in best_i]
    for i in best_m:
        film[i[0]] = i[1]    
    
film

{'Lady and the Tramp (1955)': 4.123758758097187}

In [36]:
mov_score

array(['Who Framed Roger Rabbit? (1988)', 'Jungle Book, The (1967)',
       'Fantasia (1940)', 'Pinocchio (1940)', 'Lady and the Tramp (1955)',
       'Fugitive, The (1993)'], dtype=object)

In [37]:
num_users = data2.userId_x.unique().shape[0]

movie_vector = {}

for movie, group in tqdm(data2.groupby('title')):
    movie_vector[movie] = np.zeros(num_users)
        
    for i in range(len(group.userId_x.values)):
        u = group.userId_x.values[i]
        r = group.rating.values[i]
        movie_vector[movie][int(u-1)] = r

HBox(children=(FloatProgress(value=0.0, max=1554.0), HTML(value='')))

In [38]:
titles = []
distances = []

for key in tqdm(movie_vector.keys()):
    if key in user_films:
        continue
    
    titles.append(key)
    distances.append(correlation(movie_vector[user_films[0]], movie_vector[key]))
    titles.append(key)
    distances.append(correlation(movie_vector[user_films[1]], movie_vector[key]))
    titles.append(key)
    distances.append(correlation(movie_vector[user_films[2]], movie_vector[key]))
    
best_indexes = np.argsort(distances)[:10]
#print(titles)

fi = {}
best_movies = [(titles[i], distances[i]) for i in best_indexes]
for i in best_movies:
    fi[i[0]] = i[1]
fi

HBox(children=(FloatProgress(value=0.0, max=1554.0), HTML(value='')))

{'Clear and Present Danger (1994)': 0.4114144689563516,
 'True Lies (1994)': 0.4428066751788652,
 'Dumbo (1941)': 0.4590453714454712,
 'Crimson Tide (1995)': 0.4801573548838096,
 'Speed (1994)': 0.487839048301281,
 'Jurassic Park (1993)': 0.49480190289626336,
 'Indiana Jones and the Temple of Doom (1984)': 0.4972646185341987,
 'Crocodile Dundee (1986)': 0.49974376714152247,
 'In the Line of Fire (1993)': 0.5048383674937602,
 'Firm, The (1993)': 0.5063173791198367}

In [39]:
f_list = [i for i in f.keys()]
film_list = [i for i in film.keys()]
fi_list = [i for i in fi.keys()]

In [40]:
# f, film, fi
recom = []
for i in range(10):
    try:
        recom.append(f_list[i])
        recom.append(fi_list[i])
        recom.append(film_list[i])    
    except:
        recom

In [41]:
recom

['Casablanca (1942)',
 'Clear and Present Danger (1994)',
 'Lady and the Tramp (1955)',
 'Godfather, The (1972)',
 'True Lies (1994)',
 'Ran (1985)',
 'Dumbo (1941)',
 'Lawrence of Arabia (1962)',
 'Crimson Tide (1995)',
 'Shawshank Redemption, The (1994)',
 'Speed (1994)',
 'Great Escape, The (1963)',
 'Jurassic Park (1993)',
 'Philadelphia Story, The (1940)',
 'Indiana Jones and the Temple of Doom (1984)',
 'Cool Hand Luke (1967)',
 'Crocodile Dundee (1986)',
 'Rear Window (1954)',
 'In the Line of Fire (1993)',
 'In the Name of the Father (1993)',
 'Firm, The (1993)']

In [42]:
recom_drop_dubl = list(dict.fromkeys(recom))   # уберем дубликаты из списка
recom_drop_dubl

['Casablanca (1942)',
 'Clear and Present Danger (1994)',
 'Lady and the Tramp (1955)',
 'Godfather, The (1972)',
 'True Lies (1994)',
 'Ran (1985)',
 'Dumbo (1941)',
 'Lawrence of Arabia (1962)',
 'Crimson Tide (1995)',
 'Shawshank Redemption, The (1994)',
 'Speed (1994)',
 'Great Escape, The (1963)',
 'Jurassic Park (1993)',
 'Philadelphia Story, The (1940)',
 'Indiana Jones and the Temple of Doom (1984)',
 'Cool Hand Luke (1967)',
 'Crocodile Dundee (1986)',
 'Rear Window (1954)',
 'In the Line of Fire (1993)',
 'In the Name of the Father (1993)',
 'Firm, The (1993)']

In [43]:
itog_recom = recom_drop_dubl[:10]
itog_recom

['Casablanca (1942)',
 'Clear and Present Danger (1994)',
 'Lady and the Tramp (1955)',
 'Godfather, The (1972)',
 'True Lies (1994)',
 'Ran (1985)',
 'Dumbo (1941)',
 'Lawrence of Arabia (1962)',
 'Crimson Tide (1995)',
 'Shawshank Redemption, The (1994)']